body {
  text-align: center;
  margin: auto;
  background: linear-gradient(179.4deg, rgb(12, 20, 69) -16.9%, rgb(71, 30, 84) 119.9%);
}
h1 {
  padding-top: 25px;
}
.App {
  margin: 0 auto;
  max-width: 40rem;
  padding: 20px 10px 40px 10px;
  flex-direction: column;

  font-size: normal;
  color: white;

  border-radius: 15px;
}
p {
  border: 2px solid white;
  border-radius: 15px;
  text-align: left;
  padding: 25px;
}
.picDiv {
  padding: 25px;
}
footer {
  margin-top: 100px;
  color: rgb(90, 115, 138);
  font-size: small;
}
