body {
  text-align: center;
  margin: auto;
  background: radial-gradient(
    780px at 37.8% 100.3%,
    rgb(19, 55, 115) 2.2%,
    rgb(32, 7, 80) 20.2%,
    rgb(27, 88, 111) 58.6%,
    rgb(115, 88, 44) 75%,
    rgb(99, 19, 90) 89.6%,
    rgb(12, 51, 76) 96.1%
  );
}
h1 {
  padding-top: 25px;
}
.App {
  margin: 0 auto;
  max-width: 40rem;
  padding: 20px 10px 40px 10px;
  flex-direction: column;

  font-size: normal;
  color: white;

  border-radius: 15px;
}
p {
  border: 2px solid white;
  border-radius: 15px;
  text-align: left;
  padding: 25px;
}
.picDiv {
  padding: 25px;
}
footer {
  margin-top: 100px;
  color: rgb(90, 115, 138);
  font-size: small;
}
